<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Newsfeed</servlet-name>
		<servlet-class>com.example.newsfeed.NewsfeedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Newsfeed</servlet-name>
		<url-pattern>/newsfeed</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FeedValidator</servlet-name>
		<servlet-class>com.example.newsfeed.FeedValidatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedValidator</servlet-name>
		<url-pattern>/feedvalidator</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Yahoonews</servlet-name>
		<servlet-class>com.example.newsfeed.YahoonewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Yahoonews</servlet-name>
		<url-pattern>/yahoonews</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CNNnews</servlet-name>
		<servlet-class>com.example.newsfeed.CNNnewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CNNnews</servlet-name>
		<url-pattern>/cnnnews</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IBNnews</servlet-name>
		<servlet-class>com.example.newsfeed.IBNnewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IBNnews</servlet-name>
		<url-pattern>/ibnnews</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>